<!-- home.html -->

<style>
    .viewDetailsLink {
        /* Style for the "View Details" link */
        display: inline-block;
        margin-left: 10px;  /* Adjust the margin as needed */
        color: blue;        /* Link color */
        text-decoration: underline;  /* Underline the link */
        cursor: pointer;    /* Show a pointer cursor on hover */
    }
</style>

{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}! </p>
    <a href="{% url 'test_map' %}">Get a new roadtrip.</a>
  <p> Or, view your past roadtrips:</p>

    {% block content %}
    <!-- <h1>User Information</h1> -->

    <div id="userActivityContainer">
        <!-- User activity will be displayed here -->
    </div>

    <script>
        // Fetch user activity using AJAX
        fetch('/cs411project_app/get_user_activity/')
            .then(response => response.json())
            .then(data => {
                const userActivityContainer = document.getElementById('userActivityContainer');
                const userActivities = data.user_activities;

                if (userActivities && userActivities.length > 0) {
                    // Display user activities
                    const ul = document.createElement('ul');
                    userActivities.forEach(activity => {
                        const li = document.createElement('li');
                        li.textContent = `${activity.result.start} to ${activity.result.end}, created on ${activity.date_created}`;

                        // Create a hyperlink and set its attributes
                        const link = document.createElement('a');
                        link.textContent = '(view map)';
                        link.className = 'viewDetailsLink';  // Apply the custom styling
                        link.href = "{% url 'saved_map' %}"
                        link.onclick = function() {
                            // Pass the result data to the next page using localStorage
                            localStorage.setItem('resultData', JSON.stringify(activity.result));
                        };

                        // Append the link to the li element
                        li.appendChild(link);

                        ul.appendChild(li);
                    });
                    userActivityContainer.appendChild(ul);
                } else {
                    // Display a message if no user activities found
                    userActivityContainer.innerHTML = '<p>No user activity found.</p>';
                }
            })
            .catch(error => {
                console.error('Error fetching user activity:', error);
            });
    </script>
{% endblock %}

{% else %}
  <p><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></p>
{% endif %}
