<!-- map.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Page</title>
    <script src="{% static 'cs411project_app/get_route.js' %}" type="application/javascript"></script>
</head>
<body>
    <h1>Welcome to the Map Page</h1>

    {% if user_info %}
        <p>User Information:</p>
        <ul>
            <li>Username: {{ user_info.username }}</li>
            <li>Email: {{ user_info.email }}</li>
            <!-- Add other user information as needed -->
        </ul>
    {% else %}
        <p>User information not available.</p>
    {% endif %}
</body>
</html>
